---
import Layout from "../../layouts/Layout.astro";
import fetchApi from "../../lib/strapi";
import type Article from "../../interfaces/article";
import { marked } from "marked";

export async function getStaticPaths() {
  const articles = await fetchApi<Article[]>({
    endpoint: "articles",
    wrappedByKey: "data",
  });

  return articles.map((article) => ({
    params: { slug: article.attributes.slug },
    props: article,
  }));
}

type Props = Article;

const article = Astro.props.attributes;
const content = marked.parse(article.content);
---

<Layout title={`${article.title} | NetSoc Blog`}>
  <article class="prose mx-auto px-4 pt-8 font-mono" set:html={content}>
    <h1 class="mb-2 text-center text-4xl font-bold">{article.title}</h1>
    <p class="mb-8 mt-0 text-center">
      By {article.author} on {
        new Date(article.publishedAt).toLocaleDateString()
      }
    </p>
  </article>
</Layout>
