
@font-face {
  font-family: "Rubik Mono One";
  src: url("/fonts/RubikMonoOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #22c55e; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #16a34a; 
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #22c55e #000000;
}
