---
import type Article from "../interfaces/article";
import ArticleCard from "./ArticleCard.astro";

interface Props {
  articles: Article[];
}

const { articles } = Astro.props;
---

<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
  {articles.map((article) => <ArticleCard article={article} />)}
</div>
