---
import type Event from "../interfaces/event";
import EventCard from "./EventCard.astro";

interface Props {
  events: Event[];
}

const { events } = Astro.props;
---

<div class="flex flex-row gap-8 overflow-x-scroll">
  {events.map((event) => <EventCard event={event} />)}
</div>
